@import "./select2.css";

@tailwind base;
@tailwind components;

/*select2*/

@tailwind utilities;

@layer base {
    .heading{
        @apply uppercase text-lg font-semibold dark:text-gray-400 text-gray-500 font-sans tracking-wide;
    }

    .ProseMirror{
        @apply prose focus:outline-none dark:prose-invert prose-sm overflow-scroll
        min-w-full w-full bg-gray-100 dark:bg-gray-900 text-gray-700 dark:text-gray-300 px-6 py-3 min-h-[400px] max-h-[600px];
    }

    .selectedCell {
       @apply bg-primary-100/30;
    }

    .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: -2px;
        width: 4px;
        background-color: #adf;
        pointer-events: none;
    }

    .resize-cursor{
        @apply cursor-move;
    }

    .is-active{
        @apply rounded-xl border-2 border-gray-500 dark:border-gray-300;
    }

    .tableWrapper{
        @apply table-auto w-full;
    }

    .tableWrapper table tr td, .tableWrapper table tr th{
        @apply border-collapse border px-3 py-1;
    }
}
